
  .signup-container {
    display: flex;
    height: 100vh;
    font-family: 'Helvetica Neue', sans-serif;
  }
  .signup-page .signup-container { height: 100vh; }
  
  .signup-left {
    flex: 1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .signup-logo {
    width: 250px;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  
  .signup-form {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .signup-form h1 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .signup-form input {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.85rem;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    margin-bottom: 1rem;
  }
  
  .signup-form button {
    width: 100%;
    padding: 0.8rem 0;
    margin-top: 0.5rem;
    font-size: 0.85rem;
    font-weight: 500;
    background: #000;
    color: white;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
  }
  
  .signup-form .error-text {
    color: red;
    font-size: 0.75rem;
    margin-top: 1rem;
  }
  
  .signup-right {
    flex: 1;
    overflow: hidden;
  }
  
  .signup-right-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }